.bg-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#stars {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1117px 1306px #fff, 1078px 1783px #fff, 1179px 1085px #fff,
      1145px 920px #fff, 422px 1233px #fff, 387px 98px #fff, 1153px 637px #fff,
      1084px 782px #fff, 476px 453px #fff, 926px 1306px #fff, 60px 1086px #fff,
      753px 1575px #fff, 272px 1684px #fff, 1285px 750px #fff, 1416px 1327px #fff,
      1931px 473px #fff, 736px 1395px #fff, 1816px 763px #fff, 438px 879px #fff,
      665px 1902px #fff, 1341px 677px #fff, 1404px 1073px #fff, 100px 597px #fff,
      357px 1689px #fff, 1044px 1342px #fff, 1954px 502px #fff, 1192px 1308px #fff,
      540px 1239px #fff, 1360px 552px #fff, 89px 752px #fff, 659px 1253px #fff,
      62px 517px #fff, 1375px 1705px #fff, 1343px 1511px #fff, 1659px 1922px #fff,
      1560px 289px #fff, 1362px 1799px #fff, 1886px 1480px #fff,
      1718px 1885px #fff, 824px 738px #fff, 1060px 1370px #fff, 1781px 1171px #fff,
      255px 273px #fff, 1197px 120px #fff, 213px 7px #fff, 1226px 1920px #fff,
      1844px 207px #fff, 1675px 970px #fff, 1435px 1283px #fff, 37px 353px #fff,
      59px 417px #fff, 921px 1602px #fff, 1549px 1490px #fff, 638px 1845px #fff,
      1328px 198px #fff, 1050px 1149px #fff, 1884px 711px #fff, 333px 263px #fff,
      342px 1508px #fff, 1388px 1810px #fff, 1377px 1558px #fff, 890px 487px #fff,
      1081px 759px #fff, 890px 1515px #fff, 911px 1284px #fff, 335px 735px #fff,
      1140px 549px #fff, 1239px 1064px #fff, 226px 71px #fff, 1100px 1278px #fff,
      1851px 1805px #fff, 1370px 1999px #fff, 1008px 1122px #fff, 785px 813px #fff,
      1358px 601px #fff, 1833px 1305px #fff, 1768px 1304px #fff, 1303px 532px #fff,
      860px 598px #fff, 1329px 593px #fff, 1038px 1088px #fff, 408px 405px #fff,
      965px 82px #fff, 1483px 1438px #fff, 310px 1479px #fff, 1786px 1500px #fff,
      1866px 852px #fff, 18px 1757px #fff, 1473px 1004px #fff, 1542px 1933px #fff,
      633px 1970px #fff, 1334px 1713px #fff, 175px 28px #fff, 592px 894px #fff,
      121px 1162px #fff, 1601px 1567px #fff, 1095px 657px #fff, 640px 1233px #fff,
      1073px 1255px #fff, 840px 1087px #fff, 718px 250px #fff, 967px 709px #fff,
      731px 239px #fff, 1623px 593px #fff, 1058px 1820px #fff, 516px 1898px #fff,
      666px 12px #fff, 1997px 1382px #fff, 112px 1690px #fff, 687px 1309px #fff,
      63px 539px #fff, 185px 1897px #fff, 1055px 1691px #fff, 435px 1517px #fff,
      1175px 1119px #fff, 1721px 133px #fff, 1212px 47px #fff, 166px 18px #fff,
      1416px 1652px #fff, 1409px 1745px #fff, 1357px 1232px #fff,
      1677px 1998px #fff, 448px 1415px #fff, 705px 1736px #fff, 1031px 1466px #fff,
      543px 1651px #fff, 1592px 1888px #fff, 1749px 1175px #fff, 639px 1114px #fff,
      1591px 508px #fff, 759px 1244px #fff, 824px 380px #fff, 942px 955px #fff,
      723px 732px #fff, 113px 1369px #fff, 203px 1739px #fff, 868px 733px #fff,
      713px 971px #fff, 341px 833px #fff, 762px 824px #fff, 1359px 310px #fff,
      1858px 1349px #fff, 1531px 692px #fff, 1075px 1512px #fff, 1677px 142px #fff,
      1912px 1478px #fff, 1810px 1078px #fff, 426px 844px #fff, 1426px 588px #fff,
      1909px 654px #fff, 1107px 295px #fff, 1351px 527px #fff, 1393px 599px #fff,
      1379px 1068px #fff, 228px 1846px #fff, 1271px 374px #fff, 1348px 612px #fff,
      7px 1301px #fff, 1501px 1782px #fff, 1795px 423px #fff, 1475px 1918px #fff,
      1328px 1861px #fff, 1624px 51px #fff, 1791px 672px #fff, 1594px 1467px #fff,
      1655px 1603px #fff, 919px 850px #fff, 523px 609px #fff, 1196px 207px #fff,
      753px 410px #fff, 686px 1097px #fff, 1570px 133px #fff, 1996px 1137px #fff,
      361px 116px #fff, 1015px 462px #fff, 76px 1143px #fff, 491px 1818px #fff,
      1563px 795px #fff, 982px 1721px #fff, 831px 1204px #fff, 1737px 589px #fff,
      861px 1579px #fff, 1666px 130px #fff, 698px 1799px #fff, 726px 1519px #fff,
      109px 1208px #fff, 1184px 1057px #fff, 835px 451px #fff, 896px 594px #fff,
      35px 893px #fff, 895px 542px #fff, 706px 225px #fff, 56px 1040px #fff,
      1954px 108px #fff, 1439px 1423px #fff, 26px 1881px #fff, 802px 1564px #fff,
      273px 708px #fff, 40px 31px #fff, 859px 108px #fff;
    -webkit-animation: animStar 100s linear infinite;
    -moz-animation: animStar 100s linear infinite;
    -ms-animation: animStar 100s linear infinite;
    animation: animStar 100s linear infinite;
}
#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1117px 1306px #fff, 1078px 1783px #fff, 1179px 1085px #fff,
      1145px 920px #fff, 422px 1233px #fff, 387px 98px #fff, 1153px 637px #fff,
      1084px 782px #fff, 476px 453px #fff, 926px 1306px #fff, 60px 1086px #fff,
      753px 1575px #fff, 272px 1684px #fff, 1285px 750px #fff, 1416px 1327px #fff,
      1931px 473px #fff, 736px 1395px #fff, 1816px 763px #fff, 438px 879px #fff,
      665px 1902px #fff, 1341px 677px #fff, 1404px 1073px #fff, 100px 597px #fff,
      357px 1689px #fff, 1044px 1342px #fff, 1954px 502px #fff, 1192px 1308px #fff,
      540px 1239px #fff, 1360px 552px #fff, 89px 752px #fff, 659px 1253px #fff,
      62px 517px #fff, 1375px 1705px #fff, 1343px 1511px #fff, 1659px 1922px #fff,
      1560px 289px #fff, 1362px 1799px #fff, 1886px 1480px #fff,
      1718px 1885px #fff, 824px 738px #fff, 1060px 1370px #fff, 1781px 1171px #fff,
      255px 273px #fff, 1197px 120px #fff, 213px 7px #fff, 1226px 1920px #fff,
      1844px 207px #fff, 1675px 970px #fff, 1435px 1283px #fff, 37px 353px #fff,
      59px 417px #fff, 921px 1602px #fff, 1549px 1490px #fff, 638px 1845px #fff,
      1328px 198px #fff, 1050px 1149px #fff, 1884px 711px #fff, 333px 263px #fff,
      342px 1508px #fff, 1388px 1810px #fff, 1377px 1558px #fff, 890px 487px #fff,
      1081px 759px #fff, 890px 1515px #fff, 911px 1284px #fff, 335px 735px #fff,
      1140px 549px #fff, 1239px 1064px #fff, 226px 71px #fff, 1100px 1278px #fff,
      1851px 1805px #fff, 1370px 1999px #fff, 1008px 1122px #fff, 785px 813px #fff,
      1358px 601px #fff, 1833px 1305px #fff, 1768px 1304px #fff, 1303px 532px #fff,
      860px 598px #fff, 1329px 593px #fff, 1038px 1088px #fff, 408px 405px #fff,
      965px 82px #fff, 1483px 1438px #fff, 310px 1479px #fff, 1786px 1500px #fff,
      1866px 852px #fff, 18px 1757px #fff, 1473px 1004px #fff, 1542px 1933px #fff,
      633px 1970px #fff, 1334px 1713px #fff, 175px 28px #fff, 592px 894px #fff,
      121px 1162px #fff, 1601px 1567px #fff, 1095px 657px #fff, 640px 1233px #fff,
      1073px 1255px #fff, 840px 1087px #fff, 718px 250px #fff, 967px 709px #fff,
      731px 239px #fff, 1623px 593px #fff, 1058px 1820px #fff, 516px 1898px #fff,
      666px 12px #fff, 1997px 1382px #fff, 112px 1690px #fff, 687px 1309px #fff,
      63px 539px #fff, 185px 1897px #fff, 1055px 1691px #fff, 435px 1517px #fff,
      1175px 1119px #fff, 1721px 133px #fff, 1212px 47px #fff, 166px 18px #fff,
      1416px 1652px #fff, 1409px 1745px #fff, 1357px 1232px #fff,
      1677px 1998px #fff, 448px 1415px #fff, 705px 1736px #fff, 1031px 1466px #fff,
      543px 1651px #fff, 1592px 1888px #fff, 1749px 1175px #fff, 639px 1114px #fff,
      1591px 508px #fff, 759px 1244px #fff, 824px 380px #fff, 942px 955px #fff,
      723px 732px #fff, 113px 1369px #fff, 203px 1739px #fff, 868px 733px #fff,
      713px 971px #fff, 341px 833px #fff, 762px 824px #fff, 1359px 310px #fff,
      1858px 1349px #fff, 1531px 692px #fff, 1075px 1512px #fff, 1677px 142px #fff,
      1912px 1478px #fff, 1810px 1078px #fff, 426px 844px #fff, 1426px 588px #fff,
      1909px 654px #fff, 1107px 295px #fff, 1351px 527px #fff, 1393px 599px #fff,
      1379px 1068px #fff, 228px 1846px #fff, 1271px 374px #fff, 1348px 612px #fff,
      7px 1301px #fff, 1501px 1782px #fff, 1795px 423px #fff, 1475px 1918px #fff,
      1328px 1861px #fff, 1624px 51px #fff, 1791px 672px #fff, 1594px 1467px #fff,
      1655px 1603px #fff, 919px 850px #fff, 523px 609px #fff, 1196px 207px #fff,
      753px 410px #fff, 686px 1097px #fff, 1570px 133px #fff, 1996px 1137px #fff,
      361px 116px #fff, 1015px 462px #fff, 76px 1143px #fff, 491px 1818px #fff,
      1563px 795px #fff, 982px 1721px #fff, 831px 1204px #fff, 1737px 589px #fff,
      861px 1579px #fff, 1666px 130px #fff, 698px 1799px #fff, 726px 1519px #fff,
      109px 1208px #fff, 1184px 1057px #fff, 835px 451px #fff, 896px 594px #fff,
      35px 893px #fff, 895px 542px #fff, 706px 225px #fff, 56px 1040px #fff,
      1954px 108px #fff, 1439px 1423px #fff, 26px 1881px #fff, 802px 1564px #fff,
      273px 708px #fff, 40px 31px #fff, 859px 108px #fff;
}
#stars-2 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 233px 1976px #fff, 1196px 1119px #fff, 646px 740px #fff,
      335px 645px #fff, 1119px 1452px #fff, 176px 1870px #fff, 639px 1711px #fff,
      647px 1388px #fff, 1516px 1108px #fff, 464px 66px #fff, 331px 344px #fff,
      772px 1189px #fff, 1516px 1850px #fff, 1500px 1463px #fff, 1275px 876px #fff,
      1107px 645px #fff, 977px 478px #fff, 583px 1179px #fff, 284px 395px #fff,
      1220px 461px #fff, 1160px 249px #fff, 196px 865px #fff, 670px 1915px #fff,
      1449px 382px #fff, 1191px 546px #fff, 1329px 605px #fff, 1945px 458px #fff,
      995px 749px #fff, 1495px 861px #fff, 708px 1731px #fff, 348px 653px #fff,
      548px 1298px #fff, 1606px 990px #fff, 1049px 1204px #fff, 253px 1501px #fff,
      1154px 166px #fff, 1087px 104px #fff, 1034px 1161px #fff, 1681px 462px #fff,
      577px 1897px #fff, 193px 1901px #fff, 1701px 1755px #fff, 864px 1297px #fff,
      800px 1289px #fff, 676px 28px #fff, 185px 1341px #fff, 379px 1151px #fff,
      1224px 1725px #fff, 280px 541px #fff, 473px 1196px #fff, 921px 1628px #fff,
      969px 432px #fff, 1475px 758px #fff, 1195px 993px #fff, 876px 1840px #fff,
      1274px 1689px #fff, 1977px 1101px #fff, 837px 527px #fff, 1785px 1610px #fff,
      1650px 1843px #fff, 1127px 1508px #fff, 401px 1050px #fff, 51px 1105px #fff,
      545px 880px #fff, 1786px 1672px #fff, 318px 260px #fff, 568px 254px #fff,
      1026px 1527px #fff, 1242px 852px #fff, 1785px 982px #fff, 1318px 1071px #fff,
      398px 1061px #fff, 1509px 257px #fff, 599px 928px #fff, 1195px 1800px #fff,
      1254px 906px #fff, 141px 26px #fff, 1384px 1502px #fff, 476px 767px #fff,
      1973px 722px #fff, 1339px 1031px #fff, 778px 818px #fff, 213px 1320px #fff,
      184px 221px #fff, 983px 1911px #fff, 923px 1439px #fff, 1936px 581px #fff,
      1105px 625px #fff, 325px 729px #fff, 1475px 204px #fff, 1483px 1564px #fff,
      1327px 1272px #fff, 1187px 1944px #fff, 1945px 1471px #fff, 116px 960px #fff,
      1660px 1610px #fff, 412px 1022px #fff, 1552px 1516px #fff,
      1517px 1892px #fff, 306px 829px #fff, 1416px 462px #fff, 1575px 1460px #fff,
      424px 1500px #fff, 1530px 1169px #fff, 1388px 1608px #fff, 185px 416px #fff,
      634px 1446px #fff, 767px 479px #fff, 71px 426px #fff, 1937px 145px #fff,
      1955px 1312px #fff, 1811px 611px #fff, 1145px 569px #fff, 1460px 676px #fff,
      131px 1858px #fff, 1557px 473px #fff, 735px 130px #fff, 112px 1531px #fff,
      1312px 305px #fff, 409px 1032px #fff, 149px 1964px #fff, 535px 1215px #fff,
      1382px 630px #fff, 1437px 1368px #fff, 362px 1181px #fff, 388px 181px #fff,
      274px 1287px #fff, 1858px 1414px #fff, 661px 1935px #fff, 675px 1205px #fff,
      1829px 1725px #fff, 1937px 1145px #fff, 237px 908px #fff, 1059px 1185px #fff,
      824px 1248px #fff, 1167px 1730px #fff, 180px 1961px #fff, 1663px 203px #fff,
      374px 221px #fff, 724px 1883px #fff, 970px 1362px #fff, 832px 505px #fff,
      313px 233px #fff, 1909px 597px #fff, 434px 201px #fff, 587px 995px #fff,
      1833px 623px #fff, 1464px 561px #fff, 231px 593px #fff, 1558px 1433px #fff,
      1986px 1767px #fff, 1753px 1728px #fff, 1153px 1623px #fff, 249px 229px #fff,
      1503px 1186px #fff, 1784px 137px #fff, 841px 403px #fff, 1400px 354px #fff,
      197px 499px #fff, 1188px 681px #fff, 158px 391px #fff, 443px 1099px #fff,
      723px 1445px #fff, 1408px 1235px #fff, 1908px 195px #fff, 271px 891px #fff,
      469px 1693px #fff, 580px 11px #fff, 1533px 70px #fff, 859px 761px #fff,
      1510px 1844px #fff, 421px 558px #fff, 1132px 1453px #fff, 757px 1987px #fff,
      212px 293px #fff, 569px 323px #fff, 1404px 1394px #fff, 252px 1386px #fff,
      1668px 1857px #fff, 123px 1684px #fff, 105px 490px #fff, 1083px 1769px #fff,
      1071px 1953px #fff, 1271px 1159px #fff, 699px 1491px #fff,
      1744px 1997px #fff, 1868px 1973px #fff, 1438px 1449px #fff,
      1222px 1921px #fff, 1328px 1210px #fff, 438px 873px #fff, 809px 780px #fff,
      491px 1524px #fff, 447px 1830px #fff, 927px 1936px #fff, 564px 691px #fff,
      1784px 1747px #fff, 1978px 1722px #fff, 1599px 1480px #fff,
      1276px 729px #fff, 731px 1174px #fff, 1586px 1711px #fff, 451px 1340px #fff,
      1075px 1899px #fff, 13px 575px #fff, 309px 1340px #fff, 981px 183px #fff,
      248px 1315px #fff, 849px 80px #fff, 1754px 1540px #fff, 73px 1432px #fff,
      1208px 1828px #fff, 65px 575px #fff, 1098px 730px #fff, 127px 1358px #fff,
      185px 19px #fff, 1222px 1679px #fff, 1122px 315px #fff, 1906px 452px #fff,
      761px 284px #fff, 813px 492px #fff, 1344px 843px #fff, 118px 1834px #fff,
      1620px 359px #fff, 1755px 1246px #fff, 299px 1076px #fff, 1746px 158px #fff,
      6px 1635px #fff, 143px 190px #fff, 101px 468px #fff, 137px 971px #fff,
      1221px 1929px #fff, 1752px 650px #fff, 1635px 1761px #fff, 1522px 833px #fff,
      908px 153px #fff, 1044px 350px #fff, 1151px 1940px #fff, 822px 210px #fff,
      1774px 310px #fff, 796px 1447px #fff, 1069px 1903px #fff, 217px 565px #fff,
      662px 1370px #fff, 1876px 1570px #fff, 847px 46px #fff, 1042px 1689px #fff,
      1584px 1434px #fff, 1791px 908px #fff, 973px 908px #fff, 793px 747px #fff,
      122px 483px #fff, 1137px 1374px #fff, 1757px 1791px #fff, 513px 225px #fff,
      63px 731px #fff, 1179px 1926px #fff, 346px 18px #fff, 589px 175px #fff,
      87px 302px #fff, 380px 1295px #fff, 450px 921px #fff, 1667px 1973px #fff,
      1495px 1373px #fff, 1462px 1850px #fff, 540px 288px #fff, 1208px 1051px #fff,
      1554px 1095px #fff, 1009px 1516px #fff, 181px 572px #fff, 165px 387px #fff,
      549px 1835px #fff, 960px 16px #fff, 1360px 403px #fff, 1251px 43px #fff,
      1905px 1813px #fff, 1106px 866px #fff, 1809px 277px #fff, 1828px 1720px #fff,
      295px 1610px #fff, 523px 166px #fff, 1069px 692px #fff, 1292px 217px #fff,
      11px 1721px #fff, 99px 1045px #fff, 51px 1584px #fff, 1053px 266px #fff,
      1287px 1235px #fff, 747px 1722px #fff, 1542px 736px #fff, 1256px 18px #fff,
      102px 609px #fff, 586px 1339px #fff, 1843px 1697px #fff, 824px 1687px #fff,
      1124px 882px #fff, 395px 501px #fff, 1456px 672px #fff, 1472px 1648px #fff,
      1326px 1164px #fff, 777px 1672px #fff, 81px 345px #fff, 91px 386px #fff,
      243px 411px #fff, 1560px 90px #fff, 6px 1771px #fff, 1601px 616px #fff,
      1220px 1808px #fff, 1160px 836px #fff, 246px 1777px #fff, 456px 863px #fff,
      97px 1138px #fff, 1811px 942px #fff, 213px 414px #fff, 891px 392px #fff,
      1044px 927px #fff, 1856px 216px #fff, 957px 347px #fff, 1486px 406px #fff,
      838px 912px #fff, 803px 361px #fff, 564px 826px #fff, 1597px 949px #fff,
      1206px 289px #fff, 33px 1035px #fff, 1762px 1377px #fff, 789px 1815px #fff,
      1594px 1342px #fff, 1668px 880px #fff, 1539px 1581px #fff, 1547px 53px #fff,
      861px 1433px #fff, 693px 1618px #fff, 1762px 782px #fff, 1568px 682px #fff,
      1126px 1762px #fff, 1242px 134px #fff, 495px 959px #fff, 1606px 219px #fff,
      1878px 1415px #fff, 1652px 797px #fff, 782px 1903px #fff, 1774px 1133px #fff,
      1430px 408px #fff, 265px 394px #fff, 890px 336px #fff, 1051px 311px #fff,
      461px 1559px #fff, 1931px 91px #fff, 1160px 380px #fff, 1442px 1058px #fff,
      1157px 364px #fff, 586px 227px #fff, 1365px 715px #fff, 1658px 1655px #fff,
      1923px 1664px #fff, 1023px 1844px #fff, 1939px 1367px #fff,
      1203px 1305px #fff, 359px 642px #fff, 1056px 425px #fff, 787px 202px #fff,
      1609px 1850px #fff, 1964px 200px #fff, 1537px 586px #fff, 1589px 903px #fff,
      1063px 1694px #fff, 760px 1185px #fff, 597px 1396px #fff, 294px 452px #fff,
      433px 818px #fff, 199px 840px #fff, 1332px 1937px #fff, 169px 1907px #fff,
      591px 834px #fff, 1716px 1032px #fff, 45px 1879px #fff, 686px 1469px #fff,
      1520px 475px #fff, 1122px 859px #fff, 973px 1541px #fff, 269px 477px #fff,
      1390px 716px #fff, 1791px 783px #fff, 824px 2000px #fff, 1211px 1717px #fff,
      1008px 1587px #fff, 1422px 204px #fff, 234px 556px #fff, 506px 550px #fff,
      942px 1670px #fff, 397px 853px #fff, 599px 795px #fff, 762px 1926px #fff,
      1202px 1424px #fff, 135px 1316px #fff, 1442px 1692px #fff, 977px 652px #fff,
      564px 1648px #fff, 997px 1474px #fff, 67px 1366px #fff, 1860px 1451px #fff,
      1105px 772px #fff, 1886px 1396px #fff, 1510px 658px #fff, 976px 1544px #fff,
      894px 543px #fff, 1098px 1189px #fff, 690px 77px #fff, 770px 733px #fff,
      557px 1403px #fff, 1758px 1623px #fff, 1341px 812px #fff, 699px 967px #fff,
      277px 866px #fff, 1526px 1828px #fff, 8px 977px #fff, 1707px 952px #fff,
      12px 1900px #fff, 72px 921px #fff, 496px 1067px #fff, 1288px 1749px #fff,
      273px 984px #fff, 1197px 1991px #fff, 242px 789px #fff, 903px 1035px #fff,
      480px 1492px #fff, 102px 1331px #fff, 738px 1343px #fff, 560px 1475px #fff,
      367px 846px #fff, 1420px 962px #fff, 1976px 892px #fff, 1911px 1763px #fff,
      1639px 1002px #fff, 437px 1522px #fff, 1906px 1025px #fff, 730px 1364px #fff,
      1127px 521px #fff, 1401px 1792px #fff, 1954px 1066px #fff, 232px 250px #fff,
      1685px 660px #fff, 1011px 999px #fff, 1970px 790px #fff, 750px 499px #fff,
      1738px 660px #fff, 1621px 1849px #fff, 446px 52px #fff, 1055px 1396px #fff,
      1165px 1497px #fff, 1740px 1425px #fff, 1012px 1920px #fff,
      1258px 1560px #fff, 1020px 1152px #fff, 362px 673px #fff, 1065px 975px #fff,
      582px 755px #fff, 1271px 1479px #fff, 719px 548px #fff, 1602px 879px #fff,
      590px 499px #fff, 721px 1412px #fff, 1180px 113px #fff, 1801px 1961px #fff,
      589px 941px #fff, 883px 476px #fff, 214px 890px #fff, 1028px 892px #fff,
      1107px 1832px #fff, 944px 361px #fff, 480px 1453px #fff, 1466px 683px #fff,
      981px 745px #fff, 1968px 828px #fff, 657px 1830px #fff, 11px 1338px #fff,
      179px 730px #fff, 1713px 197px #fff, 51px 955px #fff, 1243px 319px #fff,
      1175px 624px #fff, 446px 46px #fff, 5px 1158px #fff, 82px 1352px #fff,
      1877px 402px #fff, 708px 1778px #fff, 903px 1625px #fff, 1824px 352px #fff,
      1229px 140px #fff, 1518px 24px #fff, 1017px 512px #fff, 515px 699px #fff,
      295px 265px #fff, 69px 1773px #fff, 1640px 1163px #fff, 536px 342px #fff,
      970px 1766px #fff, 560px 1416px #fff, 577px 193px #fff, 469px 9px #fff,
      466px 276px #fff, 711px 853px #fff, 401px 685px #fff, 85px 506px #fff,
      865px 558px #fff, 631px 105px #fff, 887px 866px #fff, 1704px 1001px #fff,
      1051px 1199px #fff, 275px 1909px #fff, 1462px 829px #fff, 375px 1057px #fff,
      1531px 1501px #fff, 205px 403px #fff, 33px 1869px #fff, 967px 1176px #fff,
      376px 863px #fff, 1769px 1545px #fff, 535px 51px #fff, 1972px 1569px #fff,
      1773px 960px #fff, 487px 620px #fff, 1660px 687px #fff, 1632px 972px #fff,
      1362px 42px #fff, 479px 1655px #fff, 1531px 1808px #fff, 1450px 1412px #fff,
      1549px 170px #fff, 1904px 1305px #fff, 1209px 48px #fff, 1933px 820px #fff,
      1623px 595px #fff, 48px 643px #fff, 179px 1754px #fff, 589px 1032px #fff,
      1199px 356px #fff, 1755px 1418px #fff, 780px 1174px #fff, 1905px 758px #fff,
      1567px 713px #fff, 1372px 705px #fff, 456px 654px #fff, 759px 690px #fff,
      452px 673px #fff, 993px 1610px #fff, 1271px 188px #fff, 343px 1750px #fff,
      1943px 1735px #fff, 1717px 853px #fff, 1247px 303px #fff, 1314px 1895px #fff,
      1203px 489px #fff, 741px 469px #fff, 4px 246px #fff, 1515px 115px #fff,
      606px 218px #fff, 1966px 1471px #fff, 177px 87px #fff, 1575px 588px #fff,
      1136px 1386px #fff, 70px 1868px #fff, 1053px 18px #fff, 1124px 721px #fff,
      1748px 1181px #fff, 191px 1387px #fff, 1931px 840px #fff, 1088px 1603px #fff,
      634px 1255px #fff, 814px 1434px #fff, 585px 64px #fff, 1074px 1618px #fff,
      1692px 761px #fff, 651px 643px #fff, 193px 335px #fff, 1103px 1447px #fff,
      491px 1142px #fff, 521px 408px #fff, 536px 340px #fff, 411px 1091px #fff,
      1646px 193px #fff, 1595px 1285px #fff, 870px 1349px #fff, 1085px 1013px #fff,
      204px 1864px #fff, 1359px 299px #fff, 807px 964px #fff, 219px 509px #fff,
      36px 1227px #fff, 702px 1873px #fff, 1471px 934px #fff, 1763px 792px #fff,
      973px 1957px #fff, 987px 68px #fff, 593px 1282px #fff, 1900px 607px #fff,
      407px 1659px #fff, 587px 17px #fff, 632px 158px #fff;
    -webkit-animation: animStar 600s linear infinite;
    -moz-animation: animStar 600s linear infinite;
    -ms-animation: animStar 600s linear infinite;
    animation: animStar 600s linear infinite;
}
#stars-2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 233px 1976px #fff, 1196px 1119px #fff, 646px 740px #fff,
      335px 645px #fff, 1119px 1452px #fff, 176px 1870px#fff, 639px 1711px #fff,
      647px 1388px #fff, 1516px 1108px #fff, 464px 66px #fff, 331px 344px #fff,
      772px 1189px #fff, 1516px 1850px #fff, 1500px 1463px #fff, 1275px 876px #fff,
      1107px 645px #fff, 977px 478px #fff, 583px 1179px #fff, 284px 395px #fff,
      1220px 461px #fff, 1160px 249px #fff, 196px 865px #fff, 670px 1915px #fff,
      1449px 382px #fff, 1191px 546px #fff, 1329px 605px #fff, 1945px 458px #fff,
      995px 749px #fff, 1495px 861px #fff, 708px 1731px #fff, 348px 653px #fff,
      548px 1298px #fff, 1606px 990px #fff, 1049px 1204px #fff, 253px 1501px #fff,
      1154px 166px #fff, 1087px 104px #fff, 1034px 1161px #fff, 1681px 462px #fff,
      577px 1897px #fff, 193px 1901px #fff, 1701px 1755px #fff, 864px 1297px #fff,
      800px 1289px #fff, 676px 28px #fff, 185px 1341px #fff, 379px 1151px #fff,
      1224px 1725px #fff, 280px 541px #fff, 473px 1196px #fff, 921px 1628px #fff,
      969px 432px #fff, 1475px 758px #fff, 1195px 993px #fff, 876px 1840px #fff,
      1274px 1689px #fff, 1977px 1101px #fff, 837px 527px #fff, 1785px 1610px #fff,
      1650px 1843px #fff, 1127px 1508px #fff, 401px 1050px #fff, 51px 1105px #fff,
      545px 880px #fff, 1786px 1672px #fff, 318px 260px #fff, 568px 254px #fff,
      1026px 1527px #fff, 1242px 852px #fff, 1785px 982px #fff, 1318px 1071px #fff,
      398px 1061px #fff, 1509px 257px #fff, 599px 928px #fff, 1195px 1800px #fff,
      1254px 906px #fff, 141px 26px #fff, 1384px 1502px #fff, 476px 767px #fff,
      1973px 722px #fff, 1339px 1031px #fff, 778px 818px #fff, 213px 1320px #fff,
      184px 221px #fff, 983px 1911px #fff, 923px 1439px #fff, 1936px 581px #fff,
      1105px 625px #fff, 325px 729px #fff, 1475px 204px #fff, 1483px 1564px #fff,
      1327px 1272px #fff, 1187px 1944px #fff, 1945px 1471px #fff, 116px 960px #fff,
      1660px 1610px #fff, 412px 1022px #fff, 1552px 1516px #fff,
      1517px 1892px #fff, 306px 829px #fff, 1416px 462px #fff, 1575px 1460px #fff,
      424px 1500px #fff, 1530px 1169px #fff, 1388px 1608px #fff, 185px 416px #fff,
      634px 1446px #fff, 767px 479px #fff, 71px 426px #fff, 1937px 145px #fff,
      1955px 1312px #fff, 1811px 611px #fff, 1145px 569px #fff, 1460px 676px #fff,
      131px 1858px #fff, 1557px 473px #fff, 735px 130px #fff, 112px 1531px #fff,
      1312px 305px #fff, 409px 1032px #fff, 149px 1964px #fff, 535px 1215px #fff,
      1382px 630px #fff, 1437px 1368px #fff, 362px 1181px #fff, 388px 181px #fff,
      274px 1287px #fff, 1858px 1414px #fff, 661px 1935px #fff, 675px 1205px #fff,
      1829px 1725px #fff, 1937px 1145px #fff, 237px 908px #fff, 1059px 1185px #fff,
      824px 1248px #fff, 1167px 1730px #fff, 180px 1961px #fff, 1663px 203px #fff,
      374px 221px #fff, 724px 1883px #fff, 970px 1362px #fff, 832px 505px #fff,
      313px 233px #fff, 1909px 597px #fff, 434px 201px #fff, 587px 995px #fff,
      1833px 623px #fff, 1464px 561px #fff, 231px 593px #fff, 1558px 1433px #fff,
      1986px 1767px #fff, 1753px 1728px #fff, 1153px 1623px #fff, 249px 229px #fff,
      1503px 1186px #fff, 1784px 137px #fff, 841px 403px #fff, 1400px 354px #fff,
      197px 499px #fff, 1188px 681px #fff, 158px 391px #fff, 443px 1099px #fff,
      723px 1445px #fff, 1408px 1235px #fff, 1908px 195px #fff, 271px 891px #fff,
      469px 1693px #fff, 580px 11px #fff, 1533px 70px #fff, 859px 761px #fff,
      1510px 1844px #fff, 421px 558px #fff, 1132px 1453px #fff, 757px 1987px #fff,
      212px 293px #fff, 569px 323px #fff, 1404px 1394px #fff, 252px 1386px #fff,
      1668px 1857px #fff, 123px 1684px #fff, 105px 490px #fff, 1083px 1769px #fff,
      1071px 1953px #fff, 1271px 1159px #fff, 699px 1491px #fff,
      1744px 1997px #fff, 1868px 1973px #fff, 1438px 1449px #fff,
      1222px 1921px #fff, 1328px 1210px #fff, 438px 873px #fff, 809px 780px #fff,
      491px 1524px #fff, 447px 1830px #fff, 927px 1936px #fff, 564px 691px #fff,
      1784px 1747px #fff, 1978px 1722px #fff, 1599px 1480px #fff,
      1276px 729px #fff, 731px 1174px #fff, 1586px 1711px #fff, 451px 1340px #fff,
      1075px 1899px #fff, 13px 575px #fff, 309px 1340px #fff, 981px 183px #fff,
      248px 1315px #fff, 849px 80px #fff, 1754px 1540px #fff, 73px 1432px #fff,
      1208px 1828px #fff, 65px 575px #fff, 1098px 730px #fff, 127px 1358px #fff,
      185px 19px #fff, 1222px 1679px #fff, 1122px 315px #fff, 1906px 452px #fff,
      761px 284px #fff, 813px 492px #fff, 1344px 843px #fff, 118px 1834px #fff,
      1620px 359px #fff, 1755px 1246px #fff, 299px 1076px #fff, 1746px 158px #fff,
      6px 1635px #fff, 143px 190px #fff, 101px 468px #fff, 137px 971px #fff,
      1221px 1929px #fff, 1752px 650px #fff, 1635px 1761px #fff, 1522px 833px #fff,
      908px 153px #fff, 1044px 350px #fff, 1151px 1940px #fff, 822px 210px #fff,
      1774px 310px #fff, 796px 1447px #fff, 1069px 1903px #fff, 217px 565px #fff,
      662px 1370px #fff, 1876px 1570px #fff, 847px 46px #fff, 1042px 1689px #fff,
      1584px 1434px #fff, 1791px 908px #fff, 973px 908px #fff, 793px 747px #fff,
      122px 483px #fff, 1137px 1374px #fff, 1757px 1791px #fff, 513px 225px #fff,
      63px 731px #fff, 1179px 1926px #fff, 346px 18px #fff, 589px 175px #fff,
      87px 302px #fff, 380px 1295px #fff, 450px 921px #fff, 1667px 1973px #fff,
      1495px 1373px #fff, 1462px 1850px #fff, 540px 288px #fff, 1208px 1051px #fff,
      1554px 1095px #fff, 1009px 1516px #fff, 181px 572px #fff, 165px 387px #fff,
      549px 1835px #fff, 960px 16px #fff, 1360px 403px #fff, 1251px 43px #fff,
      1905px 1813px #fff, 1106px 866px #fff, 1809px 277px #fff, 1828px 1720px #fff,
      295px 1610px #fff, 523px 166px #fff, 1069px 692px #fff, 1292px 217px #fff,
      11px 1721px #fff, 99px 1045px #fff, 51px 1584px #fff, 1053px 266px #fff,
      1287px 1235px #fff, 747px 1722px #fff, 1542px 736px #fff, 1256px 18px #fff,
      102px 609px #fff, 586px 1339px #fff, 1843px 1697px #fff, 824px 1687px #fff,
      1124px 882px #fff, 395px 501px #fff, 1456px 672px #fff, 1472px 1648px #fff,
      1326px 1164px #fff, 777px 1672px #fff, 81px 345px #fff, 91px 386px #fff,
      243px 411px #fff, 1560px 90px #fff, 6px 1771px #fff, 1601px 616px #fff,
      1220px 1808px #fff, 1160px 836px #fff, 246px 1777px #fff, 456px 863px #fff,
      97px 1138px #fff, 1811px 942px #fff, 213px 414px #fff, 891px 392px #fff,
      1044px 927px #fff, 1856px 216px #fff, 957px 347px #fff, 1486px 406px #fff,
      838px 912px #fff, 803px 361px #fff, 564px 826px #fff, 1597px 949px #fff,
      1206px 289px #fff, 33px 1035px #fff, 1762px 1377px #fff, 789px 1815px #fff,
      1594px 1342px #fff, 1668px 880px #fff, 1539px 1581px #fff, 1547px 53px #fff,
      861px 1433px #fff, 693px 1618px #fff, 1762px 782px #fff, 1568px 682px #fff,
      1126px 1762px #fff, 1242px 134px #fff, 495px 959px #fff, 1606px 219px #fff,
      1878px 1415px #fff, 1652px 797px #fff, 782px 1903px #fff, 1774px 1133px #fff,
      1430px 408px #fff, 265px 394px #fff, 890px 336px #fff, 1051px 311px #fff,
      461px 1559px #fff, 1931px 91px #fff, 1160px 380px #fff, 1442px 1058px #fff,
      1157px 364px #fff, 586px 227px #fff, 1365px 715px #fff, 1658px 1655px #fff,
      1923px 1664px #fff, 1023px 1844px #fff, 1939px 1367px #fff,
      1203px 1305px #fff, 359px 642px #fff, 1056px 425px #fff, 787px 202px #fff,
      1609px 1850px #fff, 1964px 200px #fff, 1537px 586px #fff, 1589px 903px #fff,
      1063px 1694px #fff, 760px 1185px #fff, 597px 1396px #fff, 294px 452px #fff,
      433px 818px #fff, 199px 840px #fff, 1332px 1937px #fff, 169px 1907px #fff,
      591px 834px #fff, 1716px 1032px #fff, 45px 1879px #fff, 686px 1469px #fff,
      1520px 475px #fff, 1122px 859px #fff, 973px 1541px #fff, 269px 477px #fff,
      1390px 716px #fff, 1791px 783px #fff, 824px 2000px #fff, 1211px 1717px #fff,
      1008px 1587px #fff, 1422px 204px #fff, 234px 556px #fff, 506px 550px #fff,
      942px 1670px #fff, 397px 853px #fff, 599px 795px #fff, 762px 1926px #fff,
      1202px 1424px #fff, 135px 1316px #fff, 1442px 1692px #fff, 977px 652px #fff,
      564px 1648px #fff, 997px 1474px #fff, 67px 1366px #fff, 1860px 1451px #fff,
      1105px 772px #fff, 1886px 1396px #fff, 1510px 658px #fff, 976px 1544px #fff,
      894px 543px #fff, 1098px 1189px #fff, 690px 77px #fff, 770px 733px #fff,
      557px 1403px #fff, 1758px 1623px #fff, 1341px 812px #fff, 699px 967px #fff,
      277px 866px #fff, 1526px 1828px #fff, 8px 977px #fff, 1707px 952px #fff,
      12px 1900px #fff, 72px 921px #fff, 496px 1067px #fff, 1288px 1749px #fff,
      273px 984px #fff, 1197px 1991px #fff, 242px 789px #fff, 903px 1035px #fff,
      480px 1492px #fff, 102px 1331px #fff, 738px 1343px #fff, 560px 1475px #fff,
      367px 846px #fff, 1420px 962px #fff, 1976px 892px #fff, 1911px 1763px #fff,
      1639px 1002px #fff, 437px 1522px #fff, 1906px 1025px #fff, 730px 1364px #fff,
      1127px 521px #fff, 1401px 1792px #fff, 1954px 1066px #fff, 232px 250px #fff,
      1685px 660px #fff, 1011px 999px #fff, 1970px 790px #fff, 750px 499px #fff,
      1738px 660px #fff, 1621px 1849px #fff, 446px 52px #fff, 1055px 1396px #fff,
      1165px 1497px #fff, 1740px 1425px #fff, 1012px 1920px #fff,
      1258px 1560px #fff, 1020px 1152px #fff, 362px 673px #fff, 1065px 975px #fff,
      582px 755px #fff, 1271px 1479px #fff, 719px 548px #fff, 1602px 879px #fff,
      590px 499px #fff, 721px 1412px #fff, 1180px 113px #fff, 1801px 1961px #fff,
      589px 941px #fff, 883px 476px #fff, 214px 890px #fff, 1028px 892px #fff,
      1107px 1832px #fff, 944px 361px #fff, 480px 1453px #fff, 1466px 683px #fff,
      981px 745px #fff, 1968px 828px #fff, 657px 1830px #fff, 11px 1338px #fff,
      179px 730px #fff, 1713px 197px #fff, 51px 955px #fff, 1243px 319px #fff,
      1175px 624px #fff, 446px 46px #fff, 5px 1158px #fff, 82px 1352px #fff,
      1877px 402px #fff, 708px 1778px #fff, 903px 1625px #fff, 1824px 352px #fff,
      1229px 140px #fff, 1518px 24px #fff, 1017px 512px #fff, 515px 699px #fff,
      295px 265px #fff, 69px 1773px #fff, 1640px 1163px #fff, 536px 342px #fff,
      970px 1766px #fff, 560px 1416px #fff, 577px 193px #fff, 469px 9px #fff,
      466px 276px #fff, 711px 853px #fff, 401px 685px #fff, 85px 506px #fff,
      865px 558px #fff, 631px 105px #fff, 887px 866px #fff, 1704px 1001px #fff,
      1051px 1199px #fff, 275px 1909px #fff, 1462px 829px #fff, 375px 1057px #fff,
      1531px 1501px #fff, 205px 403px #fff, 33px 1869px #fff, 967px 1176px #fff,
      376px 863px #fff, 1769px 1545px #fff, 535px 51px #fff, 1972px 1569px #fff,
      1773px 960px #fff, 487px 620px #fff, 1660px 687px #fff, 1632px 972px #fff,
      1362px 42px #fff, 479px 1655px #fff, 1531px 1808px #fff, 1450px 1412px #fff,
      1549px 170px #fff, 1904px 1305px #fff, 1209px 48px #fff, 1933px 820px #fff,
      1623px 595px #fff, 48px 643px #fff, 179px 1754px #fff, 589px 1032px #fff,
      1199px 356px #fff, 1755px 1418px #fff, 780px 1174px #fff, 1905px 758px #fff,
      1567px 713px #fff, 1372px 705px #fff, 456px 654px #fff, 759px 690px #fff,
      452px 673px #fff, 993px 1610px #fff, 1271px 188px #fff, 343px 1750px #fff,
      1943px 1735px #fff, 1717px 853px #fff, 1247px 303px #fff, 1314px 1895px #fff,
      1203px 489px #fff, 741px 469px #fff, 4px 246px #fff, 1515px 115px #fff,
      606px 218px #fff, 1966px 1471px #fff, 177px 87px #fff, 1575px 588px #fff,
      1136px 1386px #fff, 70px 1868px #fff, 1053px 18px #fff, 1124px 721px #fff,
      1748px 1181px #fff, 191px 1387px #fff, 1931px 840px #fff, 1088px 1603px #fff,
      634px 1255px #fff, 814px 1434px #fff, 585px 64px #fff, 1074px 1618px #fff,
      1692px 761px #fff, 651px 643px #fff, 193px 335px #fff, 1103px 1447px #fff,
      491px 1142px #fff, 521px 408px #fff, 536px 340px #fff, 411px 1091px #fff,
      1646px 193px #fff, 1595px 1285px #fff, 870px 1349px #fff, 1085px 1013px #fff,
      204px 1864px #fff, 1359px 299px #fff, 807px 964px #fff, 219px 509px #fff,
      36px 1227px #fff, 702px 1873px #fff, 1471px 934px #fff, 1763px 792px #fff,
      973px 1957px #fff, 987px 68px #fff, 593px 1282px #fff, 1900px 607px #fff,
      407px 1659px #fff, 587px 17px #fff, 632px 158px #fff;
}
@-webkit-keyframes animStar {
    from {
      -webkit-transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(-2000px);
    }
}
@-moz-keyframes animStar {
    from {
      -moz-transform: translateY(0px);
    }
    to {
      -moz-transform: translateY(-2000px);
    }
}
@-ms-keyframes animStar {
    from {
      -ms-transform: translateY(0px);
    }
    to {
      -ms-transform: translateY(-2000px);
    }
}
@keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
}
